# Entornos virtuales
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de entorno
.env
!.env.example

# Archivos de base de datos SQLite
*.sqlite3

# Archivos de log
*.log

# Archivos del editor
.vscode/
.idea/
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos estáticos y media (si se generan automáticamente)
staticfiles/
media/

# Playwright
playwright-report/
test-results/
trace.zip
venv/
__pycache__/
node_modules/
e2e-tests/test-results/
.env
*.sqlite3
